<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
  </head>
  <body>

    <style type="text/css">

      .centerdiv
      {
      width: 45%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      text-align: center;
      }

      .login
      {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 45%
      }

      .blog
      {
      margin-top: 100px;
      width: 45%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      }
    </style>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="nav navbar-nav">
        {% if user != None %}
        <a class="navbar-brand" href="#">{{user.username}}</a>
        <li><a href="#" data-toggle="modal" data-target="#addblog">Add Blog</a></li>
        <li><a href="/logout/">Logout</a></li>
        {% else %}
        <li><a href="#" data-toggle="modal" data-target="#myLogin">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <!--
    <div class="page-header centerdiv">
      <h2>Blog Articiles</h2>
    </div>
    -->

    <div class="panel panel-default blog">
      {% for blog in blogs %}
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3>{{blog.title}}</h3>
          <small>{{blog.author}}</small>
        </div>
        <div class="panel-body">
          {{blog.blog_content}}
        </div>
      </div>
      {% endfor %}
    </div>


    <div class="modal fade" id="myLogin">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" action="#">
            {% csrf_token %}
            <div class="modal-body login">
              <b>Username:</b>
              <input class="form-control" name="username"/>
              <b>password:</b>
              <input class="form-control" name="password" type="password"/>
            </div>

            <div class="modal-footer">
              <input type="submit" class="btn btn-success pull-left" value="Login"/>
            </div>
          </form>
          <!--
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          -->

        </div> <!-- end modal-content -->
      </div> <!-- end modal-dialog -->
    </div> <!-- end modal -->

    <div class="modal fade" id="addblog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" action="/addblog/">
            {% csrf_token %}
            <div class="modal-body login">
              <b>Title:</b>
              <input class="form-control" name="title"/>
              <b>Blog Content:</b>
              <input class="form-control" name="blog_content"/>
            </div>

            <div class="modal-footer">
              <input type="submit" class="btn btn-success pull-left" value="Add"/>
            </div>
          </form>
        </div> <!-- end modal-content -->
      </div> <!-- end modal-dialog -->
    </div> <!-- end modal -->

  </body>
</html>
